.cluster-icon {
  background-color: #333 !important;
  height: 2em !important;
  width: 2em !important;
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
  font-size: 1.2rem !important;
  box-shadow: 0 0 0rem 0.3125rem #fff !important;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
