:root {
  --main-background-color: #8dbbfb;
  --main-scrollbar-background-color: #ffffff;
  --main-text-color: #000;

  --product-card-price-color: #f81155;
  --poruct-card-price-before-discount-color: #99a3ae;
  --product-card-footer-text-color: #001a3499;
}
