@import './colors.scss';
@import './variables.scss';

#root {
  height: 100%;
}

body {
  color: var(--main-text-color);
}

::-webkit-scrollbar {
  width: 0.5rem;

  @media (max-width: 48rem) {
    width: 0.25rem;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 5.5rem;
  background: var(--main-background-color);
}
