@import './colors.scss';
@import './variables.scss';

#root {
  height: 100%;
}

html {
  scrollbar-color: var(--main-background-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.5rem;

  @media (max-width: 48rem) {
    width: 0.25rem;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--main-background-color);
}
